body{
	text-align: center;
	color: #444;
}

h1{
	color: black;
}

h3{
	text-align: left;
	color: black;
}

h3:hover{
	color: #555;
}

li{
	text-align: left;
}

#objective{
	text-align: left;
	padding: 5px 15px;
}


#interests{
	text-align: left;
	padding: 5px 15px;
}

div{
	border: 2px dashed #DDDDDD;
}

ul{
	list-style-type: square;
}

footer{
	font-size: 15px;
}

span{
	font-weight: bold;
	color: black;
}

span:hover{
	color: #555;
}

img{
	border: 1px solid #ccc;
	padding: 10px 10px;
}